<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Error</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h2 th:inline="text">[[${errors.status}]]</h2>
<h4 th:inline="text">[[${errors.message}]]</h4>
<a th:href="@{/}">Home</a>
<div th:if="${account}">
    <form id="logoutForm" th:action="@{/logout}" method="post">
        <input type="submit" class="btn btn-danger" value="Logout"/>
    </form>
</div>
</body>
</html>